.destaques {
  position: absolute;
  width: 100%;
  margin: -63.64px 0 0 0;
  
}

.icons {
  width: 6em;
  margin: 20% 50;
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s all;
}

@media only screen and (max-width: 600px) {
  .destaques {
    position: absolute;
    margin: -32.27px 0 0 0;
  }
  .icons {
    width: 20%;
    margin: 0 0;
    
  }
}

@media only screen and (max-width: 992px) {
  .icons {
    width: 15%;
    margin: 0 0;
  }
  .destaques {
    position: absolute;
    margin: -32.27px 0 0 0;
  }
}