.inf__titulo {
  font-size: 38px;
  /* text-align: center; */
  padding-bottom: 20px;
  color: #ffdf00;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .inf__titulo {
    font-size: 28px;
  }
}

@media only screen and (max-width: 992px) {
}